[Unit]
Description=tg-keyword-monitor-bot Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/tg-keyword-monitor-bot
ExecStart=python3 /root/tg-keyword-monitor-bot/main.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target